/*--------------------------------------------------------------
# common
--------------------------------------------------------------*/
/* 텍스트를 가운데 정렬 */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.cursor-pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* 시분초 */
.time-input {
     display: flex;
     align-items: center;
 }
 
/* row mouse hover시 색상 변경 */
.highlight {
	background-color: #f0f8ff;
	font-weight: bold;
}

.highlight:focus,
.highlight:hover {
	outline: none;
	background-color: #e0eaf1;
	box-shadow: 0 0 0 3px rgba(0, 120, 255, 0.3);
}

a {
	cursor: pointer;
}